@import "tailwindcss";

img:hover {
  /* opacity: 0.5; */
  transition: all 0.5s ease-in-out;
}

.modal-bg {
  position: fixed;
  inset: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 12px;
}

.zoom-anim {
  animation: zoomIn 0.35s ease forwards;
}

@keyframes smoothExpand {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(30px);
    filter: blur(8px);
  }
  50% {
    opacity: 0.9;
    transform: scale(0.95) translateY(10px);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}

.animate-smoothExpand {
  animation: smoothExpand 0.45s ease-out;
}

